.signup-form{
    margin: auto;
    width: 500px;
    margin-top: 50px;
}
.form-control{
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.btn-control{
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 100%;
    border: 2px solid #000;
    margin-top: 20px;
}
.signup-google{
    margin: auto;
    width: 500px;
}